# Files to ignore
.DS_Store

# too large to push to git
caseB1/run1/ExodusII/*
caseB1/run1/*.e.*
caseB1/run1/*.e

# simulation logs (unnecessary)
caseB1/run1/logs/*

# animations from simulations (too large)
caseB1/run1/animations/*

# validation plots folder
caseB1/run1/validation_NOXQS_initialization/*

# mesh txt file and nodeset text files
caseB1/run1/*.txt

# not needed (old files)
caseB1/old/*

# other folders in caseB1 except run1 should be ignored
caseB1/localization_attempt_runs/*
